{
  "compilation": {
    "prefix": "/usr/local"
  },
  "paths": {
    "output": "./output",
    "sandbox": "./sandbox"
  },
  "componentTypeCollections": ["blacksmith-extra-component-types"],
  "plugins": [],
  "baseImages": []
}
