{
  "compilation": {
    "prefix": "/usr/local"
  },
  "paths": {
    "output": "./output",
    "sandbox": "./sandbox"
  },
  "componentTypeCollections": ["blacksmith-extra-component-types"],
  "plugins": [],
  "containerizedBuild": {
    "images": [{
      "id": "gcr.io/bitnami-containers/bitnami-base-buildpack:r1",
      "platform": {
        "os": "linux",
        "arch": "x64",
        "distro": "debian",
        "version": "8"
      }
    }]
  }
}
